
//colors
$color-black:#000;
$color-black-1:#121212;
$color-primary-1: #E4C1AE;
$color-primary-1-hover: #D3B29D;
$color-white: #fff;
$color-bg-1: #fff;
$color-bg-popup-container: rgba(18, 18, 18, .5);
$color-bg-icon-hover: rgba(0, 0, 0, .1);

//font-sizes
$font-size-base: 16px;
$font-size-medium: 32px;
$font-size-hero: 42px;

//breakpoints
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-tablet-vertical: 600px;
$breakpoint-mobile-vertical: 450px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: $color-bg-1;
    color: $color-black-1;
}

.margin-bottom-s {
    margin-bottom: 24px;
}

.margin-top-l {
    margin-top:32px;
}

.margin-top-xs {
    margin-top: 15px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
    margin: 96px auto 50px;
    max-width: 1440px;
    
    @media only screen and (max-width: $breakpoint-tablet-horizontal) {
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }

    @media only screen and (max-width: $breakpoint-mobile-vertical) {
        margin-top: 0;
    }
}

.img-hero {
    content: url("../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg");
    object-fit: cover;
    max-width: 100%;
    width: 505px;

    @media only screen and (max-width: $breakpoint-tablet-horizontal) {
        content: url("../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1234.jpg");
        width: 100%;
        max-height: 300px;
    }

    @media only screen and (max-width: $breakpoint-mobile-vertical) {
        content: url("../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg");
        max-height: 250px;
    }
}
    
.main-content {
    width: 380px;

    @media only screen and (max-width: $breakpoint-tablet-horizontal) {
        width: calc(100% - 60px);
        max-width: 600px;
    }
}

h1 {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-hero;
    line-height: 120%;
}

.text-1 {
    font-style: normal;
    font-weight: 300;
    font-size: $font-size-base;
    line-height: 150%;

    @media only screen and (max-width: $breakpoint-tablet-horizontal) {
        text-align: justify;
    }
}

.button-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    @media only screen and (max-width: $breakpoint-tablet-horizontal) {
        justify-content: center;
    }
}

.primary-button, .button-reset {
    padding: 0 40px;
    margin-top: 32px;
    height: 48px;
    background-color: $color-primary-1;
    color: $color-white;
    border: none;
    border-radius: 32px;
    font-size: $font-size-base;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: $color-primary-1-hover;
    }

    @media only screen and (max-width: $breakpoint-tablet-horizontal) {
        min-width: 300px;
        max-width: calc(100% - 40px);
    }

    @media only screen and (max-width: $breakpoint-mobile-vertical) {
        min-width: 100%;
        max-width: 100%;
    }
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-bg-popup-container ;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.popup {
    padding: 56px 95px;
    position: relative;
    width: calc(100% - 50px);
    max-width: 920px;
    min-height: 210px;
    background-color: $color-bg-1;

    @media only screen and (max-width: $breakpoint-tablet-vertical) {
        padding: 56px 20px;
    }
}

@media only screen and (max-width: $breakpoint-mobile-vertical) {
    .popup-title {
        font-size: $font-size-medium;
    }
}

.close-popup-button {
    $padding: 10px;
    $position-top: 46px;
    $position-right: 46px;
    padding: $padding;
    position: absolute;
    top: calc($position-top - $padding);
    right: calc($position-right - $padding);
    cursor: pointer;
    
    .icon-wraper {
        $size: 12px;
        position: relative;
        height: $size;
        width: $size;
        
        .close-icon {
            position: absolute;
            top: 0;
            right: 0;
            height: $size;
            width: $size;
            background-image: url("../images/icon-popup.svg");
        }
    }

    &:hover {
        background-color: $color-bg-icon-hover;
        border-radius: 4px;
    }

    @media only screen and (max-width: $breakpoint-tablet-vertical) {
        $padding: 20px;
        $position-top: 20px;
        $position-right: 20px;
        padding: $padding;
        top: calc($position-top - $padding);
        right: calc($position-right - $padding);
    }
}

.rotate-90-deg {
    transform: rotate(90deg);
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
